@page "/Reviews"
@inject HttpClient Http
@using Newtonsoft.Json
@using CA3


<h1>SEARCH NEW YORK TIMES MOVIE REVIEWS</h1>
<EditForm Model="@searchForm" OnValidSubmit="@callApi">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="searchForm.Name" />
    <br>
    <br>
    <label>
        Critics Choice:
        <InputCheckbox @bind-Value="searchForm.critic" />
        
    </label>
    <br>
    <br>
    <button type="submit">Submit</button>
</EditForm>

@if (reviews != null)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Review Author</th>
                <th>Date Published</th>
                <th>Title</th>
                <th>Summary</th> 
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in reviews.results)
            {
            <tr>

                <td>@review.display_title</td>
                <td>@review.byline</td>
                <td>@review.publication_date</td>
                <td>@review.headline</td>
                <td>@review.summary_short</td>
                <td><a href="@review.link.url">link</a></td>



            </tr>
            }
        </tbody>
    </table>
}

@code {
    private SearchForm searchForm = new SearchForm();
    Review reviews;
    private char critics;
    private string APIKEY = "JA5osVzynnO1QMnjyzcOBwGQJbQAhVpA";
    private async Task callApi()
    {
        try
        {
            if (searchForm.critic)
                critics = 'Y';
            else
                critics = 'N';
            var response = await Http.GetStringAsync("https://api.nytimes.com/svc/movies/v2/reviews/search.json?critics-pick="+critics+"&opening-date=1990-01-01&order=by-title&publication-date=1930-01-01%3B2020-01-01&query=" + searchForm.Name + "&api-key="+APIKEY);
            reviews = Newtonsoft.Json.JsonConvert.DeserializeObject<Review>(response);
        }
        catch(Exception e)
        {
            Console.WriteLine("Exception: "+e);
        }



    }


}
